<header>
  <div class="overlay"></div>
  <video autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
  </video>
  <div class="container h-10">
    <nav class="navbar navbar-expand-lg navbar-dark pink scrolling-navbar">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Portafolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Galeria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Conóceme</a>
          </li>
        </ul>
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
              <a href="https://www.facebook.com/andres.quinto.545" target="_blank" class="fa fa-facebook"></a>
          </li>
          <li class="nav-item">
              <a href="#" class="fa fa-twitter"></a>
          </li>
          <li class="nav-item">
              <a href="https://www.instagram.com/elquinto98/?hl=es-la" target="_blank" class="fa fa-instagram"></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center" style="margin-top: 30px">
      <div class="w-100 text-white" style="margin-bottom: 20%">
        <img id="img-perfil"
          src="https://scontent.feoh4-2.fna.fbcdn.net/v/t1.0-9/58442713_1478112222323827_994504565061582848_n.jpg?_nc_cat=111&_nc_oc=AQmq_py-IVCMIDsDMcj_eiuhQBDxHJqherAPIzN2kbRZIBaeUo0oy13dkqdXKl49QJ8&_nc_ht=scontent.feoh4-2.fna&oh=36b2fdd85eae79cb806c8e74144683c7&oe=5DB8E7E1"
          class="img-fluid rounded-circle" alt="Cinque Terre">
        <h1 class="display-4">Andres Quinto</h1>
        <p class="lead mb-0">Ingeniero de sistemas apasionado por la vida.</p>
      </div>
    </div>
  </div>
</header>
<app-portafolio></app-portafolio>