<div class="row">
  <div class="col-md-12" id="images">
    <div class="cards">

      <div class="card">
        <div class="card-image">
          <img src="https://scontent.feoh4-1.fna.fbcdn.net/v/t1.0-9/51182267_1423112234490493_3133600356680859648_n.jpg?_nc_cat=106&_nc_oc=AQnJil08xzSEiOsuDsK1O1k9ZPcHkcvrqJQIwG8g8nSBW-BQzQRNuHdQ5a68chkRORs&_nc_ht=scontent.feoh4-1.fna&oh=aa4e8c481917f05697dd44c183619a99&oe=5E08242F"
          (click)="showDetailImg()"/>
        </div>
        <div id="im" class="card-info">
          Hands of love
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img class="img" src="https://scontent.feoh4-2.fna.fbcdn.net/v/t1.0-9/42085884_1324402391028145_3938584365910458368_n.jpg?_nc_cat=109&_nc_oc=AQnaxTyebnrY9RrZ2vR-SrJEK_u69GXTeCzudNu4WpMdQz8k8gtk6p_k6dEdO9YHTK4&_nc_ht=scontent.feoh4-2.fna&oh=ba4ad337ba0bb10703b8f8ba01c8c3bd&oe=5E3377FE" />
        </div>
        <div class="card-info">
          Retiro facultad
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img class="img" src="https://s-media-cache-ak0.pinimg.com/564x/5c/dd/72/5cdd72b452abf457e85ec9ea38aa6559.jpg" />
        </div>
        <div class="card-info">
          Da' Monk Photo by Mnk Crew
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img class="img" src="https://scontent.feoh4-1.fna.fbcdn.net/v/t1.0-9/40140000_1308782589256792_3583590982295224320_n.jpg?_nc_cat=107&_nc_oc=AQlMwd80Kk1MlSKZ4HavW6iscvnZAzHmlepExPUyieWCQsbBPTdL8R1cjBVCrr2jTFM&_nc_ht=scontent.feoh4-1.fna&oh=af1b053c3e5fac1bf8719fc7b41fe0b5&oe=5DFD996A" />
        </div>
        <div class="card-info">
          Presentacion coro de señas
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img class="img" src="https://s-media-cache-ak0.pinimg.com/564x/f8/e7/bf/f8e7bfc4e7523e1d050fd12e2141eb48.jpg" />
        </div>
        <div class="card-info">
          Diet Zombie Pop by cronobreaker.devi... on @deviantART
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img class="img" src="https://s-media-cache-ak0.pinimg.com/564x/0a/ec/7b/0aec7ba66f3970edbeed34168ea7e776.jpg" />
        </div>
        <div class="card-info">
          El viejo hulk
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img class="img" src="https://s-media-cache-ak0.pinimg.com/564x/8f/de/a6/8fdea6e709e1dbf66aa5f031c0e187fc.jpg" />
        </div>
        <div class="card-info">
          Camila 2 - Urban Arts by Cristiano
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img class="img" src="https://s-media-cache-ak0.pinimg.com/564x/f8/e7/bf/f8e7bfc4e7523e1d050fd12e2141eb48.jpg" />
        </div>
        <div class="card-info">
          Diet Zombie Pop by cronobreaker.devi... on @deviantART
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img class="img" src="https://s-media-cache-ak0.pinimg.com/564x/0a/ec/7b/0aec7ba66f3970edbeed34168ea7e776.jpg" />
        </div>
        <div class="card-info">
          El viejo hulk
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img class="img" src="https://s-media-cache-ak0.pinimg.com/564x/8f/de/a6/8fdea6e709e1dbf66aa5f031c0e187fc.jpg" />
        </div>
        <div class="card-info">
          Camila 2 - Urban Arts by Cristiano
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img class="img" src="https://scontent.feoh4-1.fna.fbcdn.net/v/t1.0-9/51182267_1423112234490493_3133600356680859648_n.jpg?_nc_cat=106&_nc_oc=AQnJil08xzSEiOsuDsK1O1k9ZPcHkcvrqJQIwG8g8nSBW-BQzQRNuHdQ5a68chkRORs&_nc_ht=scontent.feoh4-1.fna&oh=aa4e8c481917f05697dd44c183619a99&oe=5E08242F" />
        </div>
        <div class="card-info">
          Hands of love
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img class="img" src="https://scontent.feoh4-2.fna.fbcdn.net/v/t1.0-9/42085884_1324402391028145_3938584365910458368_n.jpg?_nc_cat=109&_nc_oc=AQnaxTyebnrY9RrZ2vR-SrJEK_u69GXTeCzudNu4WpMdQz8k8gtk6p_k6dEdO9YHTK4&_nc_ht=scontent.feoh4-2.fna&oh=ba4ad337ba0bb10703b8f8ba01c8c3bd&oe=5E3377FE" />
        </div>
        <div class="card-info">
          Retiro facultad
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img class="img" src="https://s-media-cache-ak0.pinimg.com/564x/5c/dd/72/5cdd72b452abf457e85ec9ea38aa6559.jpg" />
        </div>
        <div class="card-info">
          Da' Monk Photo by Mnk Crew
        </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img class="img" src="https://scontent.feoh4-1.fna.fbcdn.net/v/t1.0-9/40140000_1308782589256792_3583590982295224320_n.jpg?_nc_cat=107&_nc_oc=AQlMwd80Kk1MlSKZ4HavW6iscvnZAzHmlepExPUyieWCQsbBPTdL8R1cjBVCrr2jTFM&_nc_ht=scontent.feoh4-1.fna&oh=af1b053c3e5fac1bf8719fc7b41fe0b5&oe=5DFD996A" />
        </div>
        <div class="card-info">
          Presentacion coro de señas
        </div>
      </div>

    </div>
  </div>
</div>
