<div class="row mb-5">
  <div class="col-md-4">
    <div class="card bg-light">
      <img class="card-img-top" src="//placeimg.com/280/180/tech" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title border-bottom pb-3">Card title <a href="#" class="float-right btn btn-sm btn-info d-inline-flex expand"><i class="fa fa-expand"></i></a></h5>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card bg-light">
      <img class="card-img-top" src="//placeimg.com/280/180/tech" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title border-bottom pb-3">Card title <a href="#" class="float-right btn btn-sm btn-info d-inline-flex share"><i class="fa fa-share-alt"></i></a></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-sm btn-info float-right">Read more <i class="fa fa-angle-double-right"></i></a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card bg-light">
      <img class="card-img-top" src="//placeimg.com/280/180/tech" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title border-bottom pb-3">Card title <a href="#" class="float-right btn btn-sm btn-info d-inline-flex share"><i class="fa fa-share-alt"></i></a></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-sm btn-info float-right">Read more <i class="fa fa-angle-double-right"></i></a>
      </div>
    </div>
  </div>
</div>
